<?xml version="1.0"?>
<!--
/**
 * Made by Mouses - Less Images
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category    MadeByMouses
 * @package     MadeByMouses_LessImages
 * @copyright   Copyright (c) 2012 Made By Mouses <info@madebymouses.com>
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
	<modules>
		<MadeByMouses_LessImages>
			<version>0.1.0</version>
		</MadeByMouses_LessImages>
	</modules>
	<global>
		<helpers>
			<catalog>
				<rewrite>
					<image>MadeByMouses_LessImages_Helper_Image</image>
				</rewrite>
			</catalog>
		</helpers>
	</global>
</config>